<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CityFlex.Properties.Settings.cityflexConnectionString"
            connectionString="Data Source=DESKTOP-UCM5P8G\SQLEXPRESS;Initial Catalog=cityflex;Persist Security Info=True;User ID=umer;Password=qwerty83"
            providerName="System.Data.SqlClient" />
        <add name="CityFlex.Properties.Settings.con" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\cityflex.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>